<div class="flex flex-col max-w-4xl items-center mx-auto h-auto">

  <div class="max-w-md px-4 py-8 bg-white rounded-lg shadow sm:px-6 md:px-8 lg:px-10">

    <!-- title -->
    <div class="self-center mb-2 text-xl font-light text-gray-800 sm:text-2xl dark:text-white">
      Créer un évènement
    </div>

    <% if @start_at_time %>
      <%= link_to "New event", new_new_event_path %> </h1>
    <% else %>
      <%= link_to "New event with time", new_new_event_path(start_at_time: true) %> </h1>
    <% end %>

    <%= render partial: 'new_edit_form', locals: {
        event: @event,
        start_at_time: @start_at_time,
        submit_button_text: 'Créer'
        } %>
  </div>
</div>
