<div>
  <h1> <%= link_to "New event", new_event_path %> </h1>
  <h1 class="font-bold text-4xl">Events#index</h1>
  <% @events.each do |event| %>
    <h2> title </h2>
    <%= link_to event.title, event %>
    <h3> description </h3>
    <%= event.description %>
  <% end %>
</div>
