<li><%= link_to 'all events', events_path %></li>
<li><%= link_to "Edit", edit_event_path(@event) %></li>
<li><%= link_to "Destroy", event_path(@event), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</li>
<p> show event <%= @event.title %> </p>
